<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_CalculatorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:14899/Service2.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_CalculatorService"
                contract="ServiceReference1.CalculatorService" name="BasicHttpBinding_CalculatorService" />
        </client>
    </system.serviceModel>
</configuration>